<div class="header-top">
  <div class="container">
    <div class="header-top-right">
      <div class="custom"  >
	<ul class="nav nav-pills">
          <li><%= link_to "Dashboard", admin_dashboard_path(current_user) %></li>
          <li><%= link_to "Manage Admin Users", admin_list_path %></li>
          <li><%= link_to "Categories & Tags", admin_categories_path %></li>
          <li><%= link_to "Commission Types", admin_commission_types_path %></li>
          <li><%= link_to "Tab Names", admin_tabs_path %></li>
          <li><%= link_to "List products", admin_products_path %></li>
          <li><%= link_to "New Product", new_admin_product_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    