<header class="header header-default" style="margin-top: 0px">
  <div class="header-main">
    <div class="container">
      <nav class="navbar fhmm" role="navigation">
      	<div class="navbar-header">
      	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
      	    <i class="fa fa-bars"></i>
      	  </button>
                <div class="logo">
      	      <%= link_to image_tag("/assets/images/logo.png"), home_path %>
      	  </div>
      	</div>
        <div id="main-nav" class="navbar-collapse collapse">
          <div class="custom"  >
            <%= navigation_switch %>
            <ul class="nav navbar-nav ">
              <% if user_signed_in? %>
              <li><%= link_to "Manage user account", edit_user_registration_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => 'DELETE' %></li>
              <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
               <li><%= link_to "Contact Us", new_contact_form_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
