<div class="container">
  <div class="header">
    <h1>Listing Admin Users</h1>
  </div>

  <div class="main">
    <div class="col-sm-6">
      <div class="well">
        <%= form_tag(add_admin_path, method: "POST", :class => "form-inline") do %>
          <div class='form-group'>
            <%= label_tag(:email, "Enter email") %>
            <%= text_field_tag(:email, [], :class => "form-control") %>
          </div>
          <%= submit_tag("Add Admin", :class => "btn btn-primary") %>
        <% end %>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Email</th>
            <th colspan="2">Controls</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= link_to 'Remove as admin', remove_admin_path(user.id), method: 'PUT' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
