<div class="container">

  <div class="col-sm-6">
    <h1>Listing Categories and Tags</h1>
    <p class="subtitle"><em>Click on the names to edit them</em></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category name</th>
          <th colspan='2'>Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><h4><%= best_in_place category, :name, :path => [:admin, category] %></h4></td>
            <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
            <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% category.tags.each do |tag| %>
            <tr>
              <td style="text-indent:10%;"><%= best_in_place tag, :name, :path => [:admin, tag] %></td>
              <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
              <td><%= link_to 'Destroy', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <div class="well" style="margin-top: 20px;">
    <h4>Setup new category</h4>
      <%= form_tag(admin_categories_path, method: "POST", :class => "form-inline") do %>
        <div class='form-group'>
          <%= label_tag('category[name]', "Category name") %>
          <%= text_field_tag('category[name]', nil, :class => "form-control") %>
        </div>
        <div class='form-group' style="float: right;">
          <%= submit_tag("Create new category", :class => "btn btn-primary") %>
        </div>
      <% end %>
    </div>

    <div class="well">
      <h4>Setup new tag</h4>
      <%= form_tag(admin_tags_path, method: "POST", :class => "form-inline") do %>
        <div class='form-group' style="margin-bottom:15px;">
          <%= label_tag('tag[name]', "Tag name") %>
          <%= text_field_tag('tag[name]', nil, :class => "form-control") %>
        </div>
        <div class="form-group" style="margin-bottom:15px;">
          <%= label_tag 'Belongs to category' %>
          <%= select_tag 'tag[category_id]', options_from_collection_for_select(Category.all, :id, :name), {prompt: "Please select which category it belongs to", :class => 'form-control'} %>
        </div>
        <div class='form-group'>
          <%= submit_tag("Create new tag", :class => "btn btn-primary") %>
        </div>
      <% end %>
  </div>
</div>
