<div class="well" style="min-height:70px;">
  <div class="col-sm-2">
    <%= f.label :url, "Link", :class => "control-label" %>
  </div>
  <div class="col-sm-10">
  <div class="col-sm-3">
      <%= f.collection_select :link_type_id, LinkType.all, :id, :name, {}, { :class => "form-control col-sm-3"} %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :url, :class => "form-control", placeholder: 'http://www.something.com' %>
    </div>

    <div class="col-sm-3">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove Link" %>
    </div>
  </div>
</div>

# <%= content_tag :p do
#   link_to 'Apply now', visit_url_path(product.homepage.counter.id), method: 'put', :class => 'btn btn-xl btn-primary'
# end %>
