<div class="container">
  <div class="header">
    <h2><%= @product.title %></h2>
    <h4><%= @product.subtitle %></h4>
  </div>

  <div class="main">
    <h2>Logo</h2>
    <%= image_tag @product.logo.url(:thumb) %>

    <h2>Screenshot</h2>
    <%= image_tag @product.screenshot.url(:medium) %>

    <p><em><%= @product.short_description %></em></p>
    <p><%= raw (@product.content) %></p>
    <h4>Tags:</h4>
    <% @product.tags.each do |tag| %>
      <p><%= tag.name %></p>
    <% end %>
    <h4>Commission Types:</h4>
    <% @product.commission_types.each do |commission_type| %>
      <p><%= commission_type.name %></p>
    <% end %>
    <p><%= link_to "Apply link here", @product.apply_link %></p>
    <p><%= link_to "Visit website link here", @product.apply_link %></p>
    <p><%= "With affiliate" ? @product.with_affiliate? : nil %></p>
  </div>

  <%= link_to 'Edit', edit_admin_product_path(@product) %> |
  <%= link_to 'Back', admin_products_path %>
</div>
