<div class="container">
  <div class="col-sm-6">
    <h1>Listing Commission Types</h1>
    <p class="subtitle"><em>Click on the names to edit them</em></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Commission Type name</th>
          <th>Icon</th>
          <th colspan='2'>Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @commission_types.each do |commission_type| %>
          <tr>
            <td><%= best_in_place commission_type, :name, :path => [:admin, commission_type] %></td>
            <td><%= icon(commission_type.icon, :class => 'fa-3x') %></td>
            <td><%= link_to 'Edit', edit_admin_commission_type_path(commission_type) %></td>
            <td><%= link_to 'Destroy', admin_commission_type_path(commission_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <div class="well" style="margin-top:20px;">
      <h4>Setup new commission type</h4>
      <%= form_tag(admin_commission_types_path, method: "POST") do %>
        <div class='form-group' style="margin-bottom:15px;">
          <%= label_tag('commission_type[name]', "Name") %>
          <%= text_field_tag('commission_type[name]', nil, :class => "form-control") %>
        </div>
        <div class='form-group' style="margin-bottom:15px;">
          <%= label_tag('commission_type[label]', "Label") %>
          <%= text_area_tag('commission_type[label]', nil, :class => "form-control") %>
        </div>
        <div class='form-group' style="margin-bottom:15px;">
          <%= label_tag('commission_type[icon]', "Icon") %>
          <%= text_field_tag('commission_type[icon]', nil, :class => "form-control") %>
        </div>
        <div class='form-group'>
          <%= submit_tag("Create new commission type", :class => "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>

</div>
