<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-sm-12" style="margin-bottom:20px;">
    <h1>Listing Commission Types</h1>
    <%= link_to 'New Commission Type', new_admin_commission_type_path, :class => "btn btn-primary" %>
    </div>

  <div class="col-sm-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Commission Type name</th>
          <th>Label</th>
          <th>Icon</th>
          <th colspan='2'>Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @commission_types.each do |commission_type| %>
          <tr>
            <td><%= commission_type.name %></td>
            <td><%= commission_type.label %></td>
            <td><%= commission_type.icon %></td>
            <td><%= link_to 'Edit', edit_admin_commission_type_path(commission_type) %></td>
            <td><%= link_to 'Destroy', admin_commission_type_path(commission_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
