<div class="container">

  <%= edit_product? %>

  <div class="col-sm-12">

    <div class="col-sm-4">
      <h2><small>Title:</small>  <%= @product.title %></h2>
      <h4><small>Subtitle:</small>  <%= @product.subtitle %></h4>
      <p><%= "With affiliate" ? @product.with_affiliate? : nil %></p>
    </div>

    <div class="col-sm-4" style="margin-top:20px;">
      <p><%= raw (@product.commission_title) %></p>
    </div>

    <div class="col-sm-4" style="margin-top:20px;">
      <p>Page Views:<%= @product.impressionist_count  %></p>
      <%= check_links_of @product %>
    </div>
  </div>

  <div class="main col-sm-12" style="margin-top:20px;">

    <div class="col-sm-4">
      <p><em><%= @product.short_description %></em></p>
      <p><%= raw (@product.content) %></p>
    </div>

    <div class="col-sm-4">
      <h4>Tags:</h4>
      <% @product.tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
    </div>

    <div class="col-sm-4">
      <h4>Commission Types:</h4>
      <% @product.commission_types.each do |commission_type| %>
        <p><%= commission_type.name %></p>
      <% end %>
    </div>

    <div class="col-sm-4">
      <h2>Logo</h2>
      <%= image_tag @product.logo.url(:thumb) %>
    </div>

    <div class="col-sm-8">
      <h2>Screenshot</h2>
      <%= image_tag @product.screenshot.url(:medium) %>
    </div>
  </div>

</div>
