<!DOCTYPE html>
<html>
<head>
  <title>Ensend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/assets/css/template.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/librarytemplate.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/assets/css/template.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <script src="/assets/script/jquery.min.js"></script>
  <script src="/assets/script/jquery_library.js"></script>
  <script src="/assets/script/bootstrap.min.js"></script>
  <script src="/assets/script/templatelibrary.js"></script>
  <script src="/assets/script/register-modal.js"></script> 
</head>
<body class=" full-width" style="">
  <div class="site-wrapper">	

  <%= render 'components/navigation' %>

  <%= flash_message %>

  <%= yield %>

  </div>
</body>
</html>
